.venv
NOLAN_wiki/GoogleNews-vectors-negative300.bin.gz
.pytest_cache
.vscode
.ipynb_checkpoints
/data/dataset_v1.csv
/data/tokenized_data_v1.csv
/data/tokenized_data_v2.csv
/data/dataset_v2.txt
/data/dataset_v2.csv
/data/tokenized_data_v3.csv